@import "../variables.scss";

/*@font-face {
  font-family: 'TT Norms';
  src: url('#{$font-path}/TTNorms-Regular.eot');
  src: local('TT Norms Regular'), local('TTNorms-Regular'),
  url('#{$font-path}/TTNorms-Regular.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/TTNorms-Regular.woff') format('woff'),
  url('#{$font-path}/TTNorms-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url('#{$font-path}/TTNorms-Medium.eot');
  src: local('TT Norms Medium'), local('TTNorms-Medium'),
  url('#{$font-path}/TTNorms-Medium.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/TTNorms-Medium.woff') format('woff'),
  url('#{$font-path}/TTNorms-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url('#{$font-path}/TTNorms-ExtraBold.eot');
  src: local('TT Norms ExtraBold'), local('TTNorms-ExtraBold'),
  url('#{$font-path}/TTNorms-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/TTNorms-ExtraBold.woff') format('woff'),
  url('#{$font-path}/TTNorms-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url('#{$font-path}/TTNorms-Bold.eot');
  src: local('TT Norms Bold'), local('TTNorms-Bold'),
  url('#{$font-path}/TTNorms-Bold.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/TTNorms-Bold.woff') format('woff'),
  url('#{$font-path}/TTNorms-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('#{$font-path}/GothamPro.eot');
  src: local('Gotham Pro'), local('GothamPro'),
  url('#{$font-path}/GothamPro.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/GothamPro.woff') format('woff'),
  url('#{$font-path}/GothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}*/


$font-size-data: (
  // desktop : mobile
  10px: 10px,
  12px: 12px,
  14px: 14px,
  16px: 16px,
  18px: 20px,
  20px: 20px,
  22px: 22px,
  24px: 24px,
  26px: 30px,
  28px: 28px,
  30px: 30px,
  36px: 36px,
);
.font-size {
  @each $font-size-desktop, $font-size-mobile in $font-size-data {
    &-#{strip-unit($font-size-desktop)} {
      font-size: $font-size-mobile;

      @include respond-before('md') {
        font-size: $font-size-desktop;
      }
    }
  }
}
