// Vuetify Global =================================================================
$body-font-family: "Aktiv Grotesk Corp";
$title-font: "Aktiv Grotesk Corp";
$border-radius-root: 0;
$font-size-root: 16px;
//
//// Variables must come before the import
//$btn-letter-spacing: 0;
//$btn-font-weight: 600;
//$btn-text-transform: none;
//$btn-sizes: (
//  'small': 35,
//  'default': 45,
//  'large': 54
//);
//$btn-font-sizes: (
//  'x-small': 12px,
//  'small': 14px,
//  'default': 16px,
//  'large': 18px,
//  'x-large': 1rem
//);
//
//// Text fields
//$text-field-padding: 10px 0 10px;
//$text-field-append-prepend-margin: 10px;
//
//// Lists
//$list-item-title-font-size: 0.929rem;
//$list-item-dense-title-font-size: 0.929rem;
//$list-item-dense-title-font-weight: initial;
//$fab-icon-sizes: (
//  'small': 20
//);
//
//// H1 - H6
//$headings: (
//  'h1': (
//    'size': 32px,
//    'weight': 600,
//    'letter-spacing': -0.02em,
//    'line-height': 1.15em
//  ),
//  'h2': (
//    'size': 2.25rem,
//    'weight': 600,
//    'letter-spacing': -0.02em,
//    'line-height': 1.5em
//  ),
//  'h3': (
//    'size': 16px,
//    'weight': 600,
//    'letter-spacing': -0.02em,
//    'line-height': 1.5em
//  )
//);
//
//// Data table
//$data-table-border-radius: $border-radius-root;
//$data-table-dense-header-height: 50px;
//$data-table-dense-row-height: 38px;
////$data-table-regular-header-height: 48px !default;
////$data-table-regular-row-height: 48px !default;
//$data-table-regular-header-font-size: 14px;
//$data-table-regular-row-font-size: 14px;
//$data-table-mobile-row-header-font-weight: 400;
//$data-table-mobile-row-min-height: 48px;
//
//// Card
//$card-text-font-size: 16px;
//$card-text-letter-spacing: -0.02em;
//$card-title-font-size: 16px;
//$card-title-font-weight: 600;
//$card-title-letter-spacing: -0.02em;
//
//// Tooltip
//$tooltip-background-color: #F5F6FA;
//$tooltip-text-color: #5A5A5A;
//$tooltip-opacity: 1;
//$tooltip-border-radius: 2px;
