.balance-info {
  background-color: #f9f9fa;
  border-radius: 12px;
  padding: 15px;
  overflow: hidden;

  @include respond-before("md") {
    padding: 30px;
  }

  &__top {
    margin-bottom: 30px;

    @include respond-before("md") {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }

    .btn {
      padding: 10px 20px;
      margin-top: 15px;

      @include respond-before("md") {
        margin-top: 0;
      }
    }
  }
}
